<p>
  <a ng-href='{{ fileLink("resumen") }}' ng-class='fileButtonClass("resumen")' type="button" class="btn btn-lg" ng-disabled="fileButtonDisabled('resumen')" >
    Resumen 
    <span class="badge" ng-bind='fileButtonLabel("resumen")'></span>
  </a>

  <a ng-href='{{ fileLink("estudio") }}' ng-class='fileButtonClass("estudio")' type="button" class="btn btn-lg" ng-disabled="fileButtonDisabled('estudio')" >
    Estudio 
    <span class="badge" ng-bind='fileButtonLabel("estudio")'></span>
  </a>

  <a ng-href='{{ fileLink("resolutivo") }}' ng-class='fileButtonClass("resolutivo")' type="button" class="btn btn-lg" ng-disabled="fileButtonDisabled('resolutivo')" >
    Resolutivo 
    <span class="badge" ng-bind='fileButtonLabel("resolutivo")'></span>
  </a>
</p>