<% if( mia.resumen  || mia.estudio){ %>
<div class="btn-group coord-steps">
  <button type="button" class="btn btn-default active">Tareas de Sistema</button>
  <button type="button" class="btn btn-default disabled">Extraer Coordenadas</button>
</div>

<pre>
El sistema debe completar algunas tareas antes de empezar, espere por favor.
-Tareas
--Copiar archivos
 |--Resumen ejecutivo <span ng-class='fileDownloadStatusIcon("resumen")'></span>
 |--Estudio de impacto ambiental <span ng-class='fileDownloadStatusIcon("estudio")'></span>
--Procesar archivos
 |--Resumen ejecutivo <span ng-class='fileProcessStatusIcon("resumen")'></span>
 |--Estudio de impacto ambiental <span ng-class='fileProcessStatusIcon("estudio")'></span>
</pre>
<% }else{ %>
  Este proyecto no tiene documentos disponibles, hora de meter una solicitud de informacion.  
<% } %>